@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap");
.nunito {
	font-family: "Nunito", "Nunito" !important;
}

:root {
	--pcolor: #7510f7;
	--gcolor: #1c1c1c;
	--gcolor2: #ffffff;
}

body {
	background-color: #1c1c1c !important;
	font-family: "eurostile", "Nunito" !important;
}
/* scroll bar */
/* width */
::-webkit-scrollbar {
	width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px rgb(58, 58, 58);
	border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #585454;
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: rgb(150, 145, 145);
}

#loading {
	position: fixed;
	width: 100%;
	height: 100vh;
	background: #070707
		url("https://media.giphy.com/media/l5JbspfwZ0yjHjlJ0K/giphy.gif") no-repeat
		center center;
	background-size: cover;
	z-index: 99999;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.euro {
	font-family: "eurostile", "Nunito";
}

.tstyle {
	font-family: "eurostile", "Nunito" !important;
}

.back {
	background-color: #7510f7;
	flex: none;
	width: 60%;
}
.bg {
	background-color: #7510f7;
	height: fit-content;
}

.ls {
	letter-spacing: 1px;
	font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "eurostile", "Nunito" !important;
}

.skills {
	margin-top: -8rem;
}
.column1,
.column2,
.column {
	display: flex;
	flex-direction: column;
	background-color: #fff;
	padding: 50px 30px;
	height: 500px;
	-webkit-box-flex: 1;

	padding: 0.75rem;
	z-index: 3;
}

.column1,
.column2 {
	border-right: 2px solid rgb(189, 158, 204);
}

.br {
	margin: 50px 30px;
	border: 2px solid #fff;
	border-radius: 5px;
	height: auto;
}

.typewriter h2 {
	color: #fff;
	font-family: monospace;
	overflow: hidden; /* Ensures the content is not revealed until the animation */
	border-right: 0.15em solid rgb(26, 2, 48); /* The typwriter cursor */
	white-space: nowrap; /* Keeps the content on a single line */
	margin: 0 auto; /* Gives that scrolling effect as the typing happens */
	letter-spacing: 0.15em; /* Adjust as needed */
	animation: typing 4.5s steps(30, end) infinite alternate,
		blink-caret 0.7s step-end infinite;
}

/* The typing effect */
@keyframes typing {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}

/* The typewriter cursor effect */
@keyframes blink-caret {
	from,
	to {
		border-color: transparent;
	}
	50% {
		border-color: rgb(33, 32, 34);
	}
}

.fa-react {
	font-size: 49px;
	color: #7510f7;
	animation: rotate 2s infinite;
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
.skills .card-group {
	width: 70vw;
}

.purple {
	color: #7510f7;
}

.card-body {
	flex: 1;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.card-body > div {
	height: max-content;
}

.border {
	border: 1px solid #7510f7 !important;
	border-radius: 20px;
}

.border:hover {
	/* background-color: #752dd3; */
	color: #fff;
	border: 1px solid #fff !important;

	box-shadow: 2px 2px 15px rgba(153, 153, 153, 0.979);
	border-radius: 20px;
}

.border:hover > i {
	color: #fff !important;
}

.footer {
	background-color: #5d12c0;
	padding: 3rem 1.5rem 2rem;
}

.footer > * {
	font-family: "Nunito";
}

.handles {
	font-size: 25px;
}

.handles:hover {
	color: rgb(0, 0, 0) !important;
	border: 1px solid rgba(48, 46, 46, 0);
	box-shadow: 2px 0px 25px rgba(53, 50, 50, 0.979);
	border-radius: 25px;
	padding: 12px;
	font-size: 30px;
	transition-duration: 0.5s;
	cursor: pointer;
}

.created {
	background-color: rgba(44, 44, 44, 0.815);
	box-shadow: 2px 0px 10px rgba(95, 94, 94, 0.979);
}

.lds-ripple {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
}
.lds-ripple div {
	position: absolute;
	border: 4px solid #fff;
	opacity: 1;
	border-radius: 50%;
	animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
	animation-delay: -0.5s;
}
@keyframes lds-ripple {
	0% {
		top: 36px;
		left: 36px;
		width: 0;
		height: 0;
		opacity: 1;
	}
	100% {
		top: 0px;
		left: 0px;
		width: 72px;
		height: 72px;
		opacity: 0;
	}
}

.load {
	display: block;
	animation: load 0.5s alternate infinite;
}

@keyframes load {
	from {
		opacity: 0.2;
	}
	to {
		opacity: 0.9;
	}
}

/* counter */

.counter-up {
	background: url("https://images.unsplash.com/photo-1593062096033-9a26b09da705?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80")
		no-repeat;
	min-height: 50vh;
	background-size: cover;
	background-attachment: fixed;
	padding: 0 50px;
	position: relative;
	display: flex;
	align-items: center;
}
.counter-up::before {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(37, 37, 37, 0.8);
}
.counter-up .content {
	z-index: 1;
	position: relative;
	display: flex;
	width: 100%;
	height: 100%;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}
.counter-up .content .box {
	border: 1px dashed rgba(255, 255, 255, 0.6);
	width: calc(25% - 30px);
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: column;
	padding: 20px;
}
.content .box .icon {
	font-size: 48px;
	color: #e6e6e6;
}
.content .box .counter {
	font-size: 50px;
	font-weight: 500;
	color: #f2f2f2;
	font-family: sans-serif;
}
.content .box .text {
	font-weight: 400;
	color: #ccc;
}
@media screen and (max-width: 1036px) {
	.counter-up {
		padding: 50px 50px 0 50px;
	}
	.counter-up .content .box {
		width: calc(50% - 30px);
		margin-bottom: 50px;
	}
}
@media screen and (max-width: 580px) {
	.counter-up .content .box {
		width: 100%;
	}
}
@media screen and (max-width: 500px) {
	.wrapper {
		padding: 20px;
	}
	.counter-up {
		padding: 30px 20px 0 20px;
	}
}

.download {
	border: 1px solid var(--pcolor);
	border-radius: 5px;
	color: var(--pcolor);
}

.download:hover {
}

#soundBtn {
	display: inline-block;
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 99;
	font-size: 18px;
	border: none;
	outline: none;
	background-color: red;
	color: white;
	cursor: pointer;
	padding: 15px;
	border-radius: 4px;
}

/*Social*/
.social {
	position: sticky;
	top: 30%;
	z-index: 5;
}
.social ul {
	padding: 0px;
	margin-right: -17em;
	-webkit-transform: translate(0px, 0);
	transform: translate(0px, 0);
	-moz-transform: translate(0px, 0);
	-ms-transform: translate(0px, 0);
	-o-transform: translate(0px, 0);
}
.social ul li {
	display: block;
	text-decoration: none !important;
	margin: 5px;
	background: rgba(44, 43, 43, 0.404);
	color: rgb(0, 0, 0);
	width: 315px;
	text-align: left;
	padding: 10px;
	-webkit-border-radius: 30px 0px 0px 30px;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-ms-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}
.social ul li:hover {
	-webkit-transform: translate(-110px, 0);
	transform: translate(-110px, 0);
	background: rgba(212, 212, 211, 0.671);
	color: rgb(2, 2, 2) !important;
	-moz-transform: translate(-110px, 0);
	-ms-transform: translate(-110px, 0);
	-o-transform: translate(-110px, 0);
	font-weight: 900 !important;
}
.social ul li:hover a {
	color: #000;
}
.social ul li:hover i {
	color: #fff;
	background: rgb(29, 29, 29);
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	transform: rotate(360deg);
	transition: all 1s;
}
.social ul li i {
	margin-right: 20px;
	color: rgb(8, 8, 8);
	background: #fff;
	padding: 9px;
	-webkit-border-radius: 10%;
	-moz-border-radius: 10%;
	border-radius: 10%;
	width: 40px;
	height: 40px;
	font-size: 23px;
	background: #ffffff;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-ms-border-radius: 10%;
	-o-border-radius: 10%;
}
